<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dangos.ce.mapper.BrandTypeMapper">

    <resultMap id="brandTypePageMap" type="com.dangos.ce.vo.BrandTypePageVO">
        <id column="id" property="id" />
        <result column="brand_name" property="brandName" />
        <result column="brand_type_name" property="brandTypeName" />
        <result column="comment" property="comment" />
        <result column="create_time" property="createTime" />
        <result column="modified_time" property="modifiedTime" />
        <result column="is_lock" property="isLock" />
    </resultMap>

    <sql id="table_name">brand_type</sql>

    <resultMap id="BrandTypeInfoMap" type="com.dangos.ce.vo.BrandTypeInfoVO">
        <id column="id" property="id" />
        <result column="brand_id" property="brandId" />
        <result column="brand_name" property="brandName" />
        <result column="brand_type_name" property="brandTypeName" />
        <result column="comment" property="comment" />
        <result column="create_time" property="createTime" />
        <result column="modified_time" property="modifiedTime" />
        <result column="is_lock" property="isLock" />
    </resultMap>

    <select id="getPageResult" resultMap="brandTypePageMap">
        SELECT
            a.id,
            b.brand_name,
            a.brand_type_name,
            a.`comment`,
            a.create_time,
            a.modified_time,
            a.is_lock
        FROM
            `brand_type` a
                LEFT JOIN brand b ON b.id = a.brand_id AND b.is_del = '0'
        <where>
            a.is_del = '0'
            <if test="args.brandId != null and args.brandId != ''">
                AND b.id = #{args.brandId}
            </if>
            <if test="args.startTime != null and args.startTime != ''">
                AND a.create_time &gt;= #{args.startTime}
            </if>
            <if test="args.endTime != null and args.endTime != ''">
                AND a.create_time &lt;= #{args.endTime}
            </if>
        </where>
    </select>

    <select id="dropDownList" resultMap="brandTypePageMap">
        SELECT
            a.*
        FROM
            `brand_type` a
        <where>
            a.is_del = '0'
            <if test="args != null and args != ''">
                AND a.brand_id = #{args}
            </if>
        </where>
    </select>

    <select id="getBrandTypeInfo" resultMap="BrandTypeInfoMap">
        SELECT
            a.id,
            a.brand_id,
            b.brand_name,
            a.brand_type_name,
            a.`comment`,
            a.create_time,
            a.modified_time,
            a.is_lock
        FROM
            `brand_type` a
                LEFT JOIN brand b ON b.id = a.brand_id AND b.is_del = '0'
        WHERE
            a.id = #{id} AND a.is_del = '0'
    </select>

</mapper>